/* ------
 general
 ------- */
 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
 body{
    font-family: 'Lato', sans-serif;
    height: 100vh;
    background-color:rgba(0, 0, 0,1)
 }
 .container{
    max-width: 90%;
    margin: auto;
 }
 /*-------
 header
 -------- */
header{
    background-color: black;
    height: 60px;
}
.font-text , button a , .microfone{
    color: white;
    background-color: #4a4a4a ;
}
.view-section{
    text-align: right;
    padding: 3px;
}
/* -----
button header
------ */
.view-section button{
    border-radius: 10px;
    padding: 5px;
}
button a{
    text-decoration: none;   
}
 /*-------
main
 -------- */
main{
    height: calc(100% - 140px);
    overflow-y: auto;
    padding-top: 50px;
}
.album{
    display: flex;
    flex-wrap: wrap;
}
.photo{
    width: calc(245px - 13px);
    position: relative;
    margin: 6px ;
}
.photo img {
    display: block;
    width: 100%;
    
}
.microfone{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
    background-color: rgba(106, 119, 131, 0.5);
}

  /*-------
 footer
 -------- */
 footer{
    background-color: #222222 ;
    height: 80px;
 }
 .action-bar{
    display: flex;
    height: 80px;
    
 }
 .left-bar , .right-bar{
    width: 20%;
 }
 .right-bar{
    display: flex;
    justify-content: flex-end;
 }
.left-bar{
    height: 100%;
    display: flex;  
    align-items: center;
    justify-content: flex-start;
}
 
 .mid-bar{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 /* -------
 Bottons footer
 ------- */
 .action-buttons { 
    color: white;
    text-align: center;
    width: 70px;
 }
 .action-buttons button{
    background-color: inherit;
    border: none;
    color: inherit;
    font-size:15px;
    text-align: center; 
 }
 .action-buttons small{
    display: block;
    padding-top: 5px;
    text-align: center;
    font-size: 10px;
 }
 .arrow{
    padding-left: 5px;
 }
 .end-button{
    background-color: #4a4a4a;
    color: red;
    border: none;
    padding: 0px 20px;
 }
.green{
    color: green;
}